@font-face {
  font-family: 'COAF Serif';
  src: url('../assets/typography/serif/SpectralSC-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'COAF Serif';
  src: url('../assets/typography/serif/SpectralSC-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'COAF Serif';
  src: url('../assets/typography/serif/SpectralSC-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'COAF Serif';
  src: url('../assets/typography/serif/SpectralSC-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'COAF Serif';
  src: url('../assets/typography/serif/SpectralSC-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'COAF Serif';
  src: url('../assets/typography/serif/SpectralSC-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'COAF Serif';
  src: url('../assets/typography/serif/SpectralSC-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'COAF Serif';
  src: url('../assets/typography/serif/SpectralSC-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'COAF Serif';
  src: url('../assets/typography/serif/SpectralSC-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'COAF Serif';
  src: url('../assets/typography/serif/SpectralSC-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'COAF Serif';
  src: url('../assets/typography/serif/SpectralSC-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'COAF Serif';
  src: url('../assets/typography/serif/SpectralSC-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'COAF Serif';
  src: url('../assets/typography/serif/SpectralSC-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'COAF Serif';
  src: url('../assets/typography/serif/SpectralSC-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'COAF Sans';
  src: url('../assets/typography/sans/Montserrat-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'COAF Sans';
  src: url('../assets/typography/sans/Montserrat-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'COAF Sans';
  src: url('../assets/typography/sans/Montserrat-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'COAF Sans';
  src: url('../assets/typography/sans/Montserrat-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'COAF Sans';
  src: url('../assets/typography/sans/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'COAF Sans';
  src: url('../assets/typography/sans/Montserrat-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'COAF Sans';
  src: url('../assets/typography/sans/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'COAF Sans';
  src: url('../assets/typography/sans/Montserrat-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'COAF Sans';
  src: url('../assets/typography/sans/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'COAF Sans';
  src: url('../assets/typography/sans/Montserrat-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'COAF Sans';
  src: url('../assets/typography/sans/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'COAF Sans';
  src: url('../assets/typography/sans/Montserrat-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'COAF Sans';
  src: url('../assets/typography/sans/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'COAF Sans';
  src: url('../assets/typography/sans/Montserrat-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'COAF Sans';
  src: url('../assets/typography/sans/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'COAF Sans';
  src: url('../assets/typography/sans/Montserrat-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'COAF Sans';
  src: url('../assets/typography/sans/Montserrat-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'COAF Sans';
  src: url('../assets/typography/sans/Montserrat-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}