.body {
  margin-top: 11rem;
  margin-bottom: 3rem;
  font-family: 'COAF Serif';
  h1 {
    font-size: 3rem;
    line-height: 3.25rem;
    font-weight: 300;
    text-align: center;
  }
}

.content {
  min-height: 50vh;
  margin: 0 10%;
  font-family: 'COAF Sans';
  p {
    text-align: justify;
    line-height: 1.75rem;
    margin: 1rem 0;
  }
}

.featuredImage {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -7rem;
  height: 18.75rem;
  width: 100%;
  background-size: cover;
  margin-bottom: -3rem;
  h1 {
    color: #fff;
    text-shadow: 2px 2px black;
  }
}